:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary: #ee4d2d;
  --primary-bg: #fef6f5;
  --primary-gradient: linear-gradient(0, #f63, #f53d2d);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}