:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary: #ee4d2d;
  --primary-bg: #fef6f5;
  --primary-gradient: linear-gradient(0, #f63, #f53d2d);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-decor-disable {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.select-disable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;  
}

.btn {
  min-width: 142px;
  height: 36px;
  font-size: 1.4rem;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

/* .class.class = chọn class phải có cả 2 */
.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary);
}

.btn.btn--disable {
  opacity: 0.7;
  cursor: not-allowed;
}