.header {
  height: 120px;
  background-image: linear-gradient(0, #f63, #f53d2d);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  list-style: none;
  margin: 4px;
  padding-left: 0;
}

.navbar__item {
  padding: 4px;
  position: relative;
}

.navbar__item + .navbar__item {
  margin-left: 10px;
}

.navbar__item,
.navbar__item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  line-height: 15.6px;
}

.navbar__icon-brand:hover,
.navbar__item-link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: 0.8;
}

.navbar__item-link,
.navbar__icon {
  display: inline-flex;
  align-items: center;
}

.navbar__icon {
  padding-right: 4px;
  font-size: 1.7rem;
}

.navbar__icon-brand {
  background-image: url(../assets/img/icons/brands-icon.png);
  background-size: 487.5% 293.75%;
  height: 16px;
  width: 16px;
  margin: 0 4px -3px 0;
}

.navbar__facebook {
  background-position: 8.06452% 16.129%;
}

.navbar__instagram {
  background-position: 58.0645% 16.129%;
}

.navbar__item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 15px;
  right: -7px;
  top: calc(50% - 8px);
  opacity: 0.6;
}

.navbar__title--no-pointer {
  cursor: text;
  color: #fff;
}