/* navbar header */
.header {
  height: 120px;
  background-image: var(--primary-gradient);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  list-style: none;
  margin: 4px;
  padding-left: 0;
}

.navbar__item {
  padding: 4px 0 4px 4px;
  position: relative;
}

.navbar__item + .navbar__item {
  margin-left: 10px;
}

.navbar__item,
.navbar__item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  font-weight: 300;
  line-height: 15.6px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.navbar__icon-brand:hover,
.navbar__item-link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: 0.8;
}

.navbar__item-link,
.navbar__icon {
  display: inline-flex;
  align-items: center;
}

.navbar__icon {
  padding-right: 4px;
  font-size: 1.4rem;
}

.navbar__icon-brand {
  background-image: url(../assets/img/icons/brands-icon.png);
  background-size: 487.5% 293.75%;
  height: 16px;
  width: 16px;
  margin: 0 4px -3px 0;
}

.navbar__facebook {
  background-position: 8.06452% 16.129%;
}

.navbar__instagram {
  background-position: 58.0645% 16.129%;
}

.navbar__item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 2px solid #fb9086;
  height: 15px;
  right: -7px;
  top: calc(50% - 8px);
  opacity: 0.6;
}

.navbar__title--no-pointer {
  cursor: text;
  color: #fff;
}

/* qr code dl */
.navbar__item--show-qr:hover .qr-code {
  display: block;
  animation: showQR ease 0.2s;
}

@keyframes showQR {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.qr-code {
  width: 184px;
  background-color: var(--white-color);
  position: absolute;
  text-align: center;
  left: 0;
  top: calc(100% + 8px);
  border-radius: 2px;
  font-size: 1.4rem;
  line-height: 16.8px;
  display: none;
  z-index: 999;
}

.qr-code::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -8px;
  width: 50%;
  height: 8px;
}

.qr-code-img {
  width: 178px;
}

.appsdl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px 5px;
}

.appsdl-img {
  width: 70px;
  margin-left: 7px;
}

/* notify */
.navbar__item--show-notify:hover .notify {
  display: block;
}

.notify {
  position: absolute;
  top: 30px;
  right: 0;
  width: 402px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  user-select: none;
  transform-origin: 360.695px top;
  animation: notifyGrowth ease-in-out 0.2s;
  z-index: 120;
  display: none;
}

.notify::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: -1px;
  width: 80px;
  height: 15px;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.notify__arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 10px solid rgb(255, 255, 255);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  left: 360.695px;
  transform: translate(-7px, -100%);
  z-index: 10;
  will-change: opacity, transform;
}

.notify-container {
  background-color: #fff;
  box-shadow: 0 1px 50px 0 rgba(0, 0, 0, .2);
  color: #000;
  overflow: hidden;
  width: 400px;
}

.notify-header {
  height: 40px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.26);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.notify-item {
  display: flex;
  padding: 8px 10px;
  background-color: rgb(255, 242, 238);
  cursor: pointer;
}

.notify-item:hover {
  background-color: #f8f8f8;
}

.notify-item--viewed {
  background-color: #f8f8f8;
}

.notify-item__img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background: center / contain no-repeat url(https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-luyee3za524y49_tn);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
}

.notify-item__info {
  line-height: 15px;
}

.notify-item__info-name {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}

.notify-item__info-decs {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.54);
}

.notify-footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  color: rgba(0, 0, 0, 0.8);
  height: 40px;
  width: 100%;
  text-decoration: none;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  animation: fadeIn ease-in 0.1s;
  z-index: 110;
}

.modal--open {
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  margin: auto;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  overflow: hidden;
  --growth-from: 0.89;
  --growth-to: 1;
  animation: growth ease-in 0.1s;
}

/* register form */
.auth-form {
  width: 400px;
}

.auth-form__container {
  padding: 12px 30px 12px 30px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin: 0 15px;
}

.auth-form__heading {
  font-size: 2rem;
  color: var(--text-color);
  flex-shrink: 0;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary);
  cursor: pointer;
}

.auth-form__group {
  margin-top: 15px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  line-height: 1.4;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
}

.auth-form__input:focus-visible {
  box-shadow: 0 0  4px rgba(0, 0, 0, 0.14);
  border-color:rgba(0, 0, 0, 0.54);
  outline-width: 0px;
}

.auth-form__policy-text {
  color: rgba(0, 0, 0, .9);
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: center;
  padding: 0 25px;
}

.auth-form__policy-link {
  color: var(--primary);
  cursor: pointer;
}

.auth-form__controls {
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}

.auth-form__btn {
  width: 100%;
  opacity: 0.7;
  text-transform: uppercase;
}

.auth-form__break {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form__line {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  flex: 1;
}

.auth-form__line-title {
  font-size: 1.2rem;
  color: #ccc;
  padding: 0 16px;
  text-transform: uppercase;
}

.auth-form__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.social-btn + .social-btn {
  margin-left: 10px;
}

.social-btn {
  padding-right: 20px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.social-btn:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.social-group,
.social-icon {
  flex-shrink: 0;
}

.social-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin-right: 5px;
  height: 22px;
  width: 22px;
}

.social-white-background {
  background-image: url(../assets/img/brands.png);
}

.social-white-fb-blue-png {
  background-position: 5.555555555555555% 62.666666666666664%;
  background-size: 325% 287.5%;
}

.social-white-google-png {
  background-position: 83.92857142857143% 5.154639175257732%;
  background-size: 722.2222222222222% 638.8888888888889%;
}

.auth-form__footer {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .2);
  margin: 20px 0;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.auth-form__footer__link {
  color: var(--primary);
  font-weight: 500;
  margin-left: 5px;
}

/* login form */
.auth-form__qr-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
}

.auth-form__qr-login__title {
  font-size: 14px;
  color: #ffbf00;
  position: relative;
  font-weight: 700;
  margin-right: 16px;
  padding: 11px 14px;
  border: 2px solid #ffbf00;
  border-radius: 2px;
  background-color: #fefaec;
}

.auth-form__qr-login__title::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  right: -12px;
  transform: rotate(45deg) translateX(-50%);
  box-sizing: border-box;
  border-right: 2px solid #ffbf00;
  border-top: 2px solid #ffbf00;
  background-color: #fefaec;
}

.auth-form__qr-login__link {
  width: 40px;
  height: 40px;
}

.auth-form__help {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0 -5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.auth-form__help__link {
  color: #05a;
}

/* header with search */
.header-with-search,
.header-with-search__logo,
.shoppe-searchbar,
.shoppe-searchbar-input,
.header-with-search__cart-wrapper {
  box-sizing: border-box;
}

.header-with-search {
  height: 87px;
  padding: 16px 0 10px;
  display: flex;
  justify-content: space-between;
}

.header-with-search__logo {
  padding-right: 40px;
  position: relative;
  top: -3px;
}

.header-with-search__logo-img {
  width: 162px;
  height: 50px;
}

.header-with-search__search {
  color: rgba(0, 0, 0, 0.8);
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.header-with-search__search > .shoppe-searchbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  width: 100%;
}

.shoppe-searchbar {
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 3px;
  --focus-indicator-spacing: 3px;
}

.shoppe-searchbar__main {
  display: flex;
  flex: 1;
  position: relative;
}

.shoppe-searchbar-input {
  display: flex;
  flex: 1;
  padding: 0 10px;
  position: relative;
}

.shoppe-searchbar-input__input {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex: 1;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.shoppe-searchbar__search-btn {
  max-width: 190px;
  min-width: 60px;
  height: 34px;
  padding: 0 15px;
  background-color: #fb5533 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  opacity: 0.9;
}

.search-btn__svg-icon {
  margin: 0 auto;
}

.header-with-search__cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 10px;
  padding-bottom: 5px;
}

.cart-drawer-container {
  padding: 10px 0;
}

.cart-drawer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 0 5px;
  outline: 0;
  overflow: visible;
  position: relative;
}

.cart-icon {
  width: 26px;
  height: 26px;
  color: #fff;
  stroke: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.shopee-cart-number-badge {
  min-width: 11px;
  height: 20px;
  margin-right: -14px;
  background-color: #fff;
  border-radius: 44px;
  color: var(--primary, #ee4d2d);
  border: 2px solid var(--brand-primary-color, #ee4d2d);
  padding: 0 5px;
  position: relative;
  top: -11px;
  left: -20px;
  font-size: 1.4rem;
  line-height: 16.8px;
  text-align: center;
}

.shoppe-searchbar-popover {
  width: 754px;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 100;
  display: none;
}

.shoppe-searchbar-listbox {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
  margin: 8px 0 0 -3px;
  overflow: hidden;
}

.shopee-searchbar-hints__history-entry,
.shopee-searchbar-hints {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.89);
  font-size: 1.4rem;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 15px 10px 10px;
  outline: none;
}

.shopee-searchbar-hints__history-entry:hover,
.shopee-searchbar-hints:hover {
  background-color: #fafafa;
}

.shopee-searchbar-hints__text {
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shopee-searchbar-hints img {
  margin-left: auto;
}

.shopee-searchbar-hints__history-entry__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchbar-outline.shoppe-searchbar-input::before {
  border-radius: 2px;
  bottom: -4px;
  left: -4px;
  content: "";
  margin: calc(var(--focus-indicator-spacing)* -1);
  outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
  padding: var(--focus-indicator-spacing);
  pointer-events: none;
  position: absolute;
  right: 7px;
  top: -4px;
  z-index: 1;
}